<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hongniu.modulelogin">

    <application>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".LoginSmsVerifyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".ui.LoginCarInforActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginPersonInforActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginAboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginPayWaysActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginCarListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginAddBlankCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginPasswordActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".ui.LoginForgetPassActivity" />
        <activity android:name=".ui.LoginInsuredActivity"></activity>
    </application>

</manifest>