<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hongniu.modulelogin">

    <application>
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="stateVisible"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginSmsVerifyActivity"
              android:windowSoftInputMode="stateVisible"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginCarInforActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginPersonInforActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginAboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginPayWaysActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginCarListActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>