<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hongniu.modulefinance">

    <application>
        <activity
            android:name=".ui.FinanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FinanceSearchActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.FinanceWalletActivity" />
        <activity android:name=".ui.FinanceNiuActivity"></activity>
    </application>

</manifest>