<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hongniu.modulebreakbulk">

    <application>
        <activity android:name="com.sang.modulebreakbulk.ui.BreakbulkCompanyDetailActivity"></activity>
        <activity android:name="com.sang.modulebreakbulk.ui.BreakbulkCompanyActivity" />
    </application>

</manifest>