<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hongniu.moduleorder">

    <application
        android:name="com.hongniu.baselibrary.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_cgts_260"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.OrderCreatOrderActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.OrderPayActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.OrderInsuranceResultActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.OrderMapLocationActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>