<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hongniu.moduleorder">

    <application>
        <activity
            android:name=".OrderMainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.OrderCreatOrderActivity" />
        <activity android:name=".ui.OrderPayActivity" />
        <activity android:name=".ui.OrderInsuranceActivity" />
        <activity android:name=".ui.OrderInsuranceResultActivity"></activity>
        <activity android:name=".ui.OrderMapLocationActivity"></activity>

    </application>

</manifest>