<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hongniu.modulecargoodsmatch">

    <application>
        <activity android:name=".ui.activiry.MatchCarGoodsCrateOrderActivity"></activity>
        <activity android:name=".ui.activiry.MatchAllOrderListActivity" />
        <activity
            android:name=".ui.activiry.MatchEntryArriveActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.activiry.MatchOrderDetailActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.activiry.MatchMapActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activiry.MatchMyOrderActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.activiry.MatchEstimateOrderActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.activiry.MatchCreatOrderActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.activiry.MatchMyRecordActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.activiry.MatchGrapSingleActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.activiry.MatchCarGoodActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
    </application>

</manifest>