<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hongniu.modulecargoodsmatch">

    <application>
        <activity android:name=".ui.activiry.MatchCreatOrderActivity"></activity>
        <activity android:name=".ui.activiry.MatchMyRecordActivity" />
        <activity android:name=".ui.activiry.MatchGrapSingleActivity" />
        <activity android:name=".ui.activiry.MatchCarGoodActivity" />
    </application>

</manifest>